.card.card-container
  %h2
    = @teacher.new_record? ? "Add Teacher" :  "Edit Teacher"
  -#= simple_form_for([:admin, @student], :url => admin_students_path, :method => :post, :html => {:class => 'form-signin'}) do |f|
  = simple_form_for([:admin, @teacher], :html => {:class => 'form-signin'}) do |f|
    = f.error_notification
    .form-group
      = f.input :first_name, required: true, autofocus: true, :class => 'form-control'
      = f.input :last_name, required: true, :class => 'form-control'
      = f.input :username, required: true, :class => 'form-control'
      = hidden_field_tag "user[type]", "teacher"
      = f.input :email, :class => 'form-control'
      = f.input :password, required: true, :class => 'form-control'
      = f.input :password_confirmation, required: true, :class => 'form-control'
    .form-actions
      = f.button :submit, "Submit"

