= render "layouts/admin_menu"
#page-wrapper
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-bar-chart-o.fa-fw
          All Students
          %span
            = link_to 'Add New', new_admin_student_path, :class => "btn btn-primary btn-sm"
        / /.panel-heading
        .panel-body
          .row
            .col-lg-12
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  %thead
                    %tr
                      %th #
                      %th Name
                      %th ID
                      %th Joined
                      %th Actions
                  %tbody
                    - @students.each_with_index do |student, index|
                      %tr
                        %td
                          = index + 1
                        %td
                          = student.name
                        %td
                          = student.email.blank? ? student.username : student.email
                        %td
                          = student.joined_at
                        %td
                          = link_fa_to("edit", "", edit_admin_student_path(student))
                          = link_to 'Delete',url_for(action: :destroy,id: student.id),method: :delete, data: {confirm: "Are you sure?"}
