= render "layouts/admin_menu"
#page-wrapper
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-bar-chart-o.fa-fw
          All Interactive Items
          %span
            = link_to 'Add New', new_admin_course_interactive_item_path, :class => "btn btn-primary btn-sm"
        / /.panel-heading
        .panel-body
          .row
            .col-lg-12
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  %thead
                    %tr
                      %th #
                      %th Title
                      %th Created By
                      %th Actions
                  %tbody
                    - @items.each_with_index do |item, index|
                      %tr
                        %td
                          = index + 1
                        %td
                          = item.interactable_type
                        %td
                          = item.user.decorate.name
                        %td
                          = link_to("edit", edit_admin_course_interactive_item_path(:id => item))
                          = link_to 'Delete',url_for(action: :destroy,id: item.id),method: :delete, data: {confirm: "Are you sure?"}
