= render "layouts/left_menu"
#page-wrapper(ng-controller="CourseCtrl")
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-bar-chart-o.fa-fw
          All Courses
          - if can_create_course(current_user)
            %span
              = link_to 'Add New', new_admin_course_path, :class => "btn btn-primary btn-sm"
        / /.panel-heading
        .panel-body
          .row
            .col-lg-12
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  %thead
                    %tr
                      %th #
                      %th Title
                      -#%th ID
                      %th Actions
                  %tbody
                    - @courses.each_with_index do |course, index|
                      %tr
                        %td
                          = index + 1
                        %td
                          = course.title
                        -#%td
                        -#  = course.courseId
                        %td
                          - if course.decorate.my_course(current_user)
                            Added
                          - else
                            %a(href="javascript:" ng-click="add_course(#{course.id})" id="addCourse_#{course.id}")
                              Add

